body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    position: relative;
    background-color: #333;
    color: white;
    padding: 0px 0;
}

.banner {
    position: relative;
    text-align: center;
    background: url('img/banner-image.jpg') no-repeat center center/cover;
    aspect-ratio: 3 / 1;
    width: 100%;
    max-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.banner h1 {
    color: white;
    font-size: 2.5rem;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
}

.nav-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

nav a:hover {
    background-color: #555;
}

.nav-reg-log {
    display: flex;
    float: right;
}

main {
    padding: 20px 20px;
}

figure {
    padding: 5px;
    border: 3px solid #333;
    float: left; 
    margin: 0 20px 20px 0;
    padding: 5px 5px 40px 5px;
    max-width: 40%;
}

.fig-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    justify-content: center;
    align-items: center;
}
.figcap-img {
    text-align: center;
    font-size: 0.9rem;
    color: #555;
    padding: 5px 5px 5px 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    clear: both;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px 0;
}

.social-icons a {
    text-decoration: none;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.footer-text {
    font-size: 0.9rem;
    margin-top: 10px;
}

.article {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.article img {
    width: 150px;
    margin: 20px;
    height: 100px;
    object-fit: cover;
}

.article-content {
    flex: 1;
    margin: 0px 20px;
}

.article-content h2 {
    margin: 0;
    font-size: 1.5rem;
}

.article-content p {
    margin: 5px 0;
}

.article-content a {
    color: #007BFF;
    text-decoration: none;
}

.article-content a:hover {
    text-decoration: underline;
}

.article img {
    margin: 0 auto 10px;
}

.fig-art {
    width: 130px;
    height: auto;
}

.fig-img-art {
    width: 130px;
    height: 100px;
}

.figcap-img-art {
    text-align: center;
    font-size: 0.9rem;
    color: #555;
}

input[type=text], select {
    width: 100%;
    max-width: 600px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email] {
    width: 100%;
    max-width: 600px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password] {
    width: 100%;
    max-width: 600px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date] {
    width: 100%;
    max-width: 600px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit] {
    width: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #45a049;
}

.form-design div {
    padding: 20px;
}

.fig-gallery {
    width: 300px;
    height: 200px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}

video {
    max-width: 600px; 
    width: 60%;
    height: auto;    
    border: 2px solid #333;
    margin: 0px 20px 20px 0px;
    float: left; 
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab a {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    text-decoration: none;
    color: #333;
}

/* Change background color of buttons on hover */
.tab a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab a.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.add-padding {
    padding: 20px;
}

textarea {
    width: 100%;
    max-width: 600px;
    height: 150px;
    margin: 8px 0;
    padding: 10px;
    font-size: 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.news-item {
    display: flex;
    justify-content: space-between; /* Title/Date on the left, Buttons on the right */
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.news-info {
    display: flex;
    gap: 10px; /* Space between title and date */
}

.title {
    font-weight: bold;
}

.date {
    color: gray;
    font-size: 0.9em;
}

.buttons {
    display: flex;
    gap: 10px; /* Space between buttons */
}

button.edit-button {
    background-color: #6e6e6e;
    color: white;
}

button.edit-button:hover {
    background-color: #3f3f3f;
    color: white;
}

button.archive-button {
    background-color: #d1db46;
    color: black;
}

button.archive-button:hover {
    background-color: #a2a848;
    color: black;
}

button.delete-button {
    background-color: #7c1a17;
    color: white;
}

button.delete-button:hover {
    background-color: #7c3735;
    color: white;
}

a.edit-button {
    background-color: #6e6e6e;
    color: white;
    width: 65px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

a.edit-button:hover {
    background-color: #3f3f3f;
    color: white;
    width: 65px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}